/* ImageUploader.css */

.image-uploader {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selected-image {
    margin-top: 20px;
    max-width: 600px;
  }