/* ImageUploader.css */

.image-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #f00000;
    margin-top: 10px;
  }
  
  .selected-image {
    margin-top: 10px;
    max-width: 300px;
  }